lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

tmp
pids
logs
results

npm-debug.log
node_modules/*

#Ignore files for headlesspi-wetty
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/headlesspi-wetty*
!debian/headlesspi-wetty.service
